h1{
    color:#ffff; 
    padding:10px;
    background:url(https://i.ibb.co/xLyQjGV/Pngtree-technological-background-vector-illustration-matrix-1245505.jpg)
}
hr{
    border-color: #d2a391;
    margin: 3rem 0;
}

i{
    margin: 0;    
    color:#000033;
    font-size: 45px;
    padding: 20px;
    display: block;
    
}

a{
    
    text-decoration: none;
    font-size: 2vw;

}







