<div class="card mat-card">
    <div class="row" id="footer">
        <h1>Contacto</h1>
        <hr>
        <div class="contacto">
            <i class="fas fa-envelope-square"></i><a
                href="mailto:cpacheco0978@gmail.com.mx?subjet=Contacto&body= prueba email">Envia un Email</a>
            <div id="telefono">
                <i class="fas fa-phone-square-alt"></i><a href="">(011)54635591</a>
            </div>
        </div>
            <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#000033" fill-opacity="1.5" d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,112C672,107,768,181,864,176C960,171,1056,85,1152,53.3C1248,21,1344,43,1392,53.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
                </svg>
                <h6>Derechos Reservados CarlaAlexandraPachecoAraujo@ 2022</h6>
            </div>
    </div>
</div>