.row{
    padding:30px;
}

.grid{
    display:grid;
    grid-template-columns:50% 50%;
    text-align: center;
    border-radius:20px;
}

#imgperfil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 16px;
    z-index: 1;
    box-shadow: 1px 30px 30px #000033;
    display: block;
}
#proyec{
    background-color: #ffff;
    box-shadow: 3px 3px 3px 3px #000033;
    
}
h1{
    color:#ffff; 
    padding:10px;
    background:url(https://i.ibb.co/xLyQjGV/Pngtree-technological-background-vector-illustration-matrix-1245505.jpg)
}




