<div  id="encabezado"> 
    <div class="encabezado">
        <div class="encabezado__logoAp" >
            <img  class="encabezado__imginti" src="../../../assets/imagen/APLogo-20-20.png" alt="">
            <img  class="encabezado__img" src="../../../assets/imagen/LogosInti.png" alt="">
                <div class="encabezado__redes">
                <a href="https://www.linkedin.com/in/carla-alexandra-pacheco?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BweBj7%2FPwRa2xbjYYMs%2B%2FOw%3D%3D" class="encabezado__redesicon" >
                    <img  class="encabezado__redes__icon" src="../../../assets/imagen/linkedin.png" alt=""></a>
                    <a href="https://github.com/Carlap09" class="encabezado__redesicon" >
                    <img  class="encabezado__redes__icon" src="../../../assets/imagen/github-icon-white-5.jpg" alt="" white="250"></a>
                    <a href="/iniciar-sesion"><button type="button" class="btn btn-outline-light">Login</button></a>
                </div>
        </div>
    </div>
</div>
