#expe{
    background-color: #ffff;
    box-shadow: 3px 3px 3px  #000033;
}
h1{
    color:#ffff; 
    padding:10px;
    background:url(https://i.ibb.co/xLyQjGV/Pngtree-technological-background-vector-illustration-matrix-1245505.jpg)
}